*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #000000DE;
}

ul li a:hover{
    text-decoration: underline;
}
.navbar{
    margin-top: 1em;
}

 .nav-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    height: 45px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1em;
}

svg
{
    color: #5f6368;
    opacity: 1;
    border-radius: 50px;
    padding-top: 5px;
    
}

svg:hover{
        font-size: 13px;
        background-color: #BABCBE;
        opacity: 1;
}

.avatar{
    border-radius: 100px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brand__logo{
    padding-top: 5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    
}
.input-section{
    max-width: 600px;
    padding: 14px 8px 14px 14px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    margin-bottom: 1.7em;
}

.input-section:hover{
    box-shadow: 2px 2px 2px 2px #F1F3F4;
}

input{
    width: 490px;
    height: 15px;
    border: none;
    word-wrap: break-word;
    outline: none;
    display: flex;
    padding-left: 2em;   
}

input:focus{
    border: none;
}

.tags{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;

}
.tag{
    background-color: #F8F8FA;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #fff;
}

.tag:hover{
    border-color: #F8F8FA;
}

.languages{
    font-size: 13px;
}

span a{
    text-decoration: none;
}

.bx-search{
    color: #888888;
    font-size: 20px;
}

.bxs-microphone{
    color: blue;
    font-size: 20px;
}